.standard-header-search {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .logo {
    height: 40px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input {
    border: none;
    padding: 10px;
    margin-right: 10px;
    outline: none;
    border-radius: 20px;
    background-color: #f7f7f7;
    width: 150px;
    text-align: center;
  }
  
  .search-button {
    background-color: #ff385c;
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-right p {
    margin-right: 20px;
  }
  
  .language-icon,
  .menu-icon {
    margin-right: 10px;
  }
  
  .filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .filters button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    width: 150px;
  }
  
  .filters-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
  }
  
  .filters-button svg {
    margin-right: 5px;
  }
  