.amenities-section {
    margin-top: 20px;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
  }
  
  .amenities-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .amenity {
    display: flex;
    align-items: center;
  }
  
  .show-all-amenities-button {
    width: 200px;
    padding: 10px;
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  