.filter-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    margin-top: 100px;
  }
  
  .filter-section button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    width: 140px;
    height: 41px;
    margin-left: 5px;
  }
  
  .filter-section button:hover {
    background-color: #f7f7f7;
  }
  