.reservations-list {
    width: 100%;
    padding: 20px;
    height: 600px;
  }
  
  .reservations-list h2 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead th {
    text-align: left;
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 2px solid #ddd;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff385c;
    color: white;
    cursor: pointer;
  }
  