.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
  }
  
  .admin-header-left {
    display: flex;
    align-items: center;
  }
  
  .admin-logo {
    height: 60px;
    margin-right: 20px;
  }
  
  .admin-button {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .admin-header-right {
    display: flex;
    align-items: center;
  }
  
  .admin-header-right span {
    margin-right: 10px;
  }
  
  .admin-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  